<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="contact_us_section" class="py-5" style="background-color: black; color:white">
        <div class="container">
            <h3 class="text-center text-secondary">Contact Us</h3>
            <div class="row">
                <div class="col-md-4">

<form action="/process-conatct-form" method="post">

  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Your Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Your Contact No.</label>
    <div class="col-sm-10">
      <input type="text" name="number" class="form-control" id="contactNumberField ">
    </div>
  </div>
  
 </div>
 <div class="form-floating my-2">
  <textarea class="form-control" name="query" style="height: 250px;" placeholder="Enter Your Query" id="floatingTextarea"></textarea>
  <label for="queryField">Enter Query</label>
</div>

 <div class="container text-center">
     <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>